// ---------- 表格
.table-root {
    font-size: 16px;
    user-select: none;
    border-bottom: solid 1px #888;
    padding: 0 0 6px 0;
}

.table-content {
    margin-left: 12px;
    border-left: solid 1px #444;
}

.table-folder {
    cursor: pointer;
    border-bottom: 1px solid #888;
    padding: 8px 4px;
    display: flex;
    background-color: #333;
}

.table-one {
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666;
    white-space: pre-wrap;
    word-break: break-all;

    .table-key {
        display: flex;
        justify-content: center;
        border-right: 1px solid #666;
        flex-basis: 40%;
        font-family: code;
        max-width: 40%;
    }

    .table-text {
        display: flex;
        justify-content: center;
        border-right: 1px solid #666;
        flex-basis: 40%;
        max-width: 40%;
    }

    .table-edit {
        display: flex;
        justify-content: center;
        flex-basis: 20%;
        max-width: 20%;
    }
}

.table-fold-key {
    margin-left: 24px;
}
