// ---------- 滚动条
.unique-scroll {
    overflow: hidden scroll;
}

.unique-scroll::-webkit-scrollbar {
    background-color: #222;
    border-left: 1px solid #bbb;
    width: 16px;
}

.unique-scroll::-webkit-scrollbar-thumb {
    border-left: 1px solid #bbb;
    background-color: #666;
}

.unique-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.unique-scroll::-webkit-scrollbar-thumb:active {
    background-color: #777;
}

// ---------- 表格
.table-root {
    font-size: 16px;
    user-select: none;
    border-bottom: solid 1px #888;
    padding: 0 0 6px 0;
}

.table-content {
    margin-left: 12px;
    border-left: solid 1px #444;
}

.table-folder {
    cursor: pointer;
    border-bottom: 1px solid #888;
    padding: 8px 4px;
    display: flex;
    background-color: #333;
}

.table-fold-icon {
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.table-one {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666;
    white-space: pre-wrap;
    word-break: break-all;

    .table-key {
        display: flex;
        justify-content: center;
        border-right: 1px solid #666;
        flex-basis: 40%;
        font-family: code;
        max-width: 40%;
    }

    .table-text {
        display: flex;
        justify-content: center;
        border-right: 1px solid #666;
        flex-basis: 30%;
        max-width: 30%;
    }

    .table-edit {
        display: flex;
        justify-content: center;
        flex-basis: 30%;
        max-width: 30%;
    }
}

.table-fold-key {
    margin-left: 24px;
}
